<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-building me-2"></i>ДНиТ. Управление
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bills:gc_list' %}">
                        <i class="bi bi-briefcase me-1"></i>ГК
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bills:chou_list' %}">
                        <i class="bi bi-mortarboard me-1"></i>ЧОУ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-journal-text me-1"></i>Справочники
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'directories:worktype_list' %}">Виды работ</a></li>
                        <li><a class="dropdown-item" href="{% url 'directories:unit_list' %}">Ед. измерения</a></li>
                        <li><a class="dropdown-item" href="{% url 'directories:counterparty_list' %}">Контрагенты</a></li>
                        <li><a class="dropdown-item" href="{% url 'directories:contract_list' %}">Договоры</a></li>
                    </ul>
                </li>
            </ul>
            
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <span class="navbar-text text-white me-3">
                        <i class="bi bi-person-circle me-1"></i>{{ user.username }}
                    </span>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-light btn-sm">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-light btn-sm">
                        <i class="bi bi-box-arrow-in-right me-1"></i>Войти
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>